.blog {
  padding: var(--space-xl) 0 var(--space-m);
}

.blogToc {
  @media (--large-viewport-up) {
    position: fixed;
    right: var(--space-xl);
  }

  color: var(--secondary-text-color);
  font-size: var(--font-size-s);
  margin-top: var(--space-m);

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 20em;
  }

  & li {
    padding-top: var(--space-s);
  }

  & :any-link {
    color: inherit;
  }
}

.blogDate {
  color: var(--secondary-text-color);
  display: flex;

  @media (--small-viewport-down) {
    flex-flow: column;
  }

  & > * {
    padding-right: var(--space-l);
  }
}

.blogTags {
  display: flex;
  margin-top: var(--space-s);

  & > :not(:first-child) {
    margin-left: var(--space-s);
  }
}

.blogTag {
  &::before {
    content: "#";
    color: #ddd;
  }

  background: var(--accent-color);
  border-radius: var(--border-radius);
  color: var(--icon-text-color);
  font-size: var(--font-size-s);
  padding: 0 calc(var(--space-s) / 2);
  line-height: 1.5;
}

.blogContent {
  margin-top: var(--space-s);
  overflow-x: auto;

  & > h1 {
    margin: var(--space-m) 0 var(--space-xl);
  }

  & > h2 {
    margin: var(--space-xxl) 0 0;
    border-bottom: 1px solid var(--divider-color);
  }

  & > h3,
  & > h4 {
    margin: var(--space-xl) 0 calc(var(--space-m) * -1);
  }

  & > h5,
  & > h6 {
    margin: var(--space-l) 0 calc(var(--space-l) * -1);
  }

  & > blockquote {
    border-left: 0.25em solid var(--divider-color);
    color: var(--secondary-text-color);
    padding: 0 var(--space-m);
  }

  & > p,
  & > pre,
  & > blockquote,
  & > ul,
  & > ol {
    margin: var(--space-l) 0 0;
  }
}

.headingAnchor {
  color: var(--secondary-text-color);
  margin-left: 0.5em;

  &:hover,
  &:focus {
    filter: brightness(0.75);
  }
}
