.blog {
  padding: var(--space-xl) 0 var(--space-m);
}

.blogMetadata {
  color: var(--secondary-text-color);
  display: flex;
  flex-flow: column;

  @media (--small-viewport-up) {
    flex-flow: row;
  }

  & > * {
    padding-right: var(--space-l);
  }
}

.blogContent {
  overflow-x: auto;

  & > h1 {
    margin: var(--space-m) 0 var(--space-xl);
  }

  & > h2 {
    margin: var(--space-xxl) 0 0;
    border-bottom: 1px solid var(--secondary-text-color);
  }

  & > h3,
  & > h4 {
    margin: var(--space-xl) 0 calc(var(--space-m) * -1);
  }

  & > h5,
  & > h6 {
    margin: var(--space-l) 0 calc(var(--space-l) * -1);
  }

  & > blockquote {
    border-left: 0.25em solid var(--code-bg-color);
    color: var(--blockquote-text-color);
    padding: 0 var(--space-m);
  }

  & > p,
  & > pre,
  & > blockquote,
  & > ul,
  & > ol {
    margin: var(--space-l) 0 0;
  }
}

.headingAnchor {
  color: var(--secondary-text-color);
  margin-left: 0.5em;

  &:hover,
  &:focus {
    filter: brightness(0.75);
  }
}
