@import "highlight.js/styles/xcode.css";

:global(.hljs) {
  background: transparent;
  padding: 0;
}

/* https://github.com/remarkjs/remark-autolink-headings */
:global(.icon-link) {
  color: var(--secondary-text-color);
  margin-left: 0.5em;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &::before {
    content: "#";
  }
}

.blog {
  /* padding: var(--space-xl) 0 var(--space-m); */

  & h1 {
    @apply text-xl;
  }
}

.blogToc {
  @media (min-width: 1200px) {
    position: fixed;
    right: var(--space-xl);
  }

  color: var(--secondary-text-color);
  font-size: var(--font-size-s);
  margin-top: var(--space-m);

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 20em;
  }

  & li {
    padding-top: var(--space-s);
  }

  & :any-link {
    color: inherit;
  }
}

.blogDate {
  color: var(--secondary-text-color);
  display: flex;

  @media (max-width: 575px) {
    flex-flow: column;
  }

  & > * {
    padding-right: var(--space-l);
  }
}

.blogTags {
  display: flex;
  margin-top: var(--space-s);

  & > :not(:first-child) {
    margin-left: var(--space-s);
  }
}

.blogTag {
  &::before {
    content: "#";
    color: #ddd;
  }

  background: var(--accent-color);
  border-radius: var(--border-radius);
  color: var(--icon-text-color);
  font-size: var(--font-size-s);
  padding: 0 calc(var(--space-s) / 2);
  line-height: 1.5;
}

.blogContent {
  margin-top: var(--space-s);
  overflow-x: auto;

  & > h1 {
    margin: var(--space-m) 0 var(--space-xl);
  }

  & > h2 {
    margin: var(--space-xxl) 0 0;
    border-bottom: 1px solid var(--divider-color);
  }

  & > h3,
  & > h4 {
    margin: var(--space-xl) 0 calc(var(--space-m) * -1);
  }

  & > h5,
  & > h6 {
    margin: var(--space-l) 0 calc(var(--space-l) * -1);
  }

  /* https://github.com/remarkjs/remark-autolink-headings */
  & > h1 [aria-hidden] {
    display: none;
  }

  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    & [aria-hidden] {
      visibility: hidden;
    }

    &:focus [aria-hidden],
    &:hover [aria-hidden] {
      visibility: visible;
    }
  }

  & > blockquote {
    border-left: 0.25em solid var(--divider-color);
    color: var(--secondary-text-color);
    padding: 0 var(--space-m);
  }

  & > p,
  & > pre,
  & > blockquote,
  & > ul,
  & > ol {
    margin: var(--space-l) 0 0;
  }
}

.headingAnchor {
  color: var(--secondary-text-color);
  margin-left: 0.5em;

  &:hover,
  &:focus {
    filter: brightness(0.75);
  }
}

.prevNext {
  display: flex;
  justify-content: space-between;
  gap: var(--space-m);
  margin-top: var(--space-xxl);

  @media (max-width: 575px) {
    flex-flow: column;
  }
}

.prevNextLink {
  display: inline-flex;

  &:first-child {
    justify-content: start;

    &::before {
      content: "←";
      margin-right: 0.5em;
    }
  }

  &:last-child {
    justify-content: end;

    &::after {
      content: "→";
      margin-left: 0.5em;
    }
  }
}

.prevNextContent {
  display: inline-block;
  max-width: 20em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  @media (max-width: 575px) {
    max-width: 80vw;
  }
}
