.headerLink {
  color: var(--default-primary-color);
}

.profile {
  margin: var(--space-m) 0;
  display: flex;
  align-items: center;
}

.profileImage {
  border-radius: 50%;
  width: 60px;
  height: 60px;

  @media (min-width: 576px) {
    width: 90px;
    height: 90px;
  }
}

.profileCaption {
  display: flex;
  flex-flow: column;
  margin-left: var(--space-m);

  @media (min-width: 576px) {
    margin-left: var(--space-l);
  }
}

.profileDescription {
  color: var(--secondary-text-color);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-l);
}

.menuItem {
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  margin: var(--space-l) 0;
  /* stylelint-disable-next-line plugin/no-low-performance-animation-properties */
  transition: box-shadow 0.3s ease-out;

  &:focus,
  &:hover {
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.4);
  }
}

.menuLink {
  display: block;
  padding: var(--space-m);
  padding-top: calc(var(--space-m) + 0.25em);
}

.menuIcon {
  color: var(--primary-text-color);
  margin-right: 1em;
}
