.blog-dates {
  color: var(--secondary-text-color);
  font-size: var(--font-size-base);
  margin-top: var(--space-s);
  display: flex;

  & > :first-child {
    margin-right: var(--space-l);
  }
}

.blog-content {
  & > h1 {
    margin: var(--space-m) 0;
  }

  & > h2 {
    margin: var(--space-xxl) 0 var(--space-m);
    border-bottom: 1px solid var(--secondary-text-color);
  }

  & > h3 {
    margin: var(--space-xl) 0 var(--space-m);
  }

  & > p,
  & > ul,
  & > ol {
    margin: var(--space-m) 0;
  }
}
