.headerLink {
  color: inherit;
}

.profile {
  margin: var(--space-m) 0;
  display: flex;
}

.profileImage {
  border-radius: 50%;
  width: 60px;
  height: 60px;

  @media (--small-viewport-up) {
    width: 90px;
    height: 90px;
  }
}

.profileCaption {
  display: flex;
  flex-flow: column;
  margin-left: var(--space-m);

  @media (--small-viewport-up) {
    margin-left: var(--space-l);
  }
}

.profileDescription {
  color: var(--secondary-text-color);
}

.profileIcons {
  margin-top: var(--space-s);

  & > :last-child {
    margin-left: var(--space-m);
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--font-size-l);
}

.menuItem {
  margin: var(--space-l) 0;
}

.menuLink {
  line-height: 1.6;
  padding: 0;
  font-size: var(--font-size-base);
  margin-right: 1em;
}

.menuIcon {
  margin-right: 0.75em;
}

.menuSlidesButton[aria-expanded="true"] {
  color: var(--link-hover-text-color);
}

.menuSlides {
  position: absolute;
  background: var(--body-bg-color);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5%);
  transition: none 0.1s ease-out;
  transition-property: visibility, opacity, transform; /* stylelint-disable-line */

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.menuSlideItem {
  margin: var(--space-s) 0;
}
