:root {
  --space: 1rem;
  --space-s: 0.5rem;

  /* Color pallete from https://clrs.cc/ */
  --default-text-color: #111;
  --link-text-color: #001f3f;
  --link-hover-text-color: #0074d9;
  --secondary-text-color: #aaa;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--default-text-color);
  margin: auto;
  max-width: 50rem;
  padding: var(--space);
}

main {
  min-height: 50vh;
  padding: var(--space) 0;
}

h1 a {
  color: inherit;
  font-style: italic;
  text-decoration: none;
}

.profile {
  margin: var(--space) 0;
  display: flex;
  align-items: center;

  & img {
    border-radius: 50%;
    width: 90px;
  }
}

.profile-caption {
  margin-left: var(--space);
  display: flex;
  flex-flow: column;

  & small {
    color: var(--secondary-text-color);
    margin-top: 0.25em;
  }
}

.profile-icons {
  display: flex;
  margin-top: 0.75em;

  & > :last-child {
    margin-left: 0.5em;
  }
}

.text-button {
  background: inherit;
  border: none;
  cursor: pointer;
  font: inherit;
}

.link {
  color: var(--link-text-color);
  text-decoration: none;
  transition: color 0.2s ease-out;

  &:hover {
    color: var(--link-hover-text-color);
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: var(--space) 0;

  & time {
    font-style: italic;
  }
}

.menu-link {
  display: inline-block;
  line-height: 1.6;
  padding: 0;
  position: relative;
}

.menu-icon {
  padding-right: 0.5em;
}

.menu-slides-button[aria-expanded="true"] {
  color: var(--link-hover-text-color);
}

.menu-slides {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10%);
  transition: 0.1s ease-out;
  transition-property: visibility, opacity, transform;

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  & li {
    margin: var(--space-s) 0;
  }
}

footer {
  color: var(--secondary-text-color);
}
