name: npm audit fix

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ybiquitous/npm-audit-fix-action@32e3d11ddee9c7959fc89c4e3b322c64f7d33c2e # v7.3.5
        with:
          github_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
