name: Stylelint

on:
  pull_request:
    branches: ["**"]
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  stylelint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm run stylelint-install
      - run: npx stylelint "**/*.css" --formatter=github
