name: Stylelint

on:
  pull_request:
    branches: ["**"]
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  stylelint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm run stylelint-install
      - run: npm run stylelint-run
