name: Stylelint

on:
  pull_request:
    branches: ["**"]
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  stylelint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm run stylelint-install
      - run: npm run stylelint-run
