name: Visual Regression Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["**"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  visual-regression-test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
          cache: npm
      - run: npm ci
      - run: npm start &
      - run: npm run test:visual -- --verbose
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
      - name: Warn if no access to Percy token
        run: |
          if [[ -z $PERCY_TOKEN ]]; then
            echo "::warning title=${GITHUB_WORKFLOW}::Re-run manually to test changes on Percy"
          fi
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
